html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

button:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

button:active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}

button:disabled {
  background-color: rgba(255, 255, 255, 1);
  color:black;
  cursor: default;
}

progress {
  background-color: #00ff00;
}